<!DOCTYPE htm

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/public/img/logo-mercado-liebre.svg">
        <input> 
        <button>Buscar</button>
        <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>Basado en tu útilma visita</h3>
        <img src="/public/img/img-macbook-pro-2019.jpg">
        <h4>$230.000</h4>
        <h4>20% off</h4>
        <h4>MacBook Pro 2019</h4>
        <img src="/public/img/img-samsung-galaxy-s10.jpg">
        <h4>$70.500</h4>
        <h4>10% off</h4>
        <h4>Samsung Galaxy S10</h4>

    </main>
    <footer></footer>
</body>
</html>